@(candidates: Seq[CandidateExam])

@main {
<table>
  <dl>
  <table>
    <tr>
      <th>first name</th>
      <th>last name</th>
      <th>date</th>
      <th>exam id</th>
      

    </tr>
  @candidates.map { candidate =>
  <tr>
      <td>@candidate.firstname</td>
      <td>@candidate.lastname</td>
      <td>@candidate.date</td>
      @if(candidate.examid.getOrElse(0) != 0) {
      <td><a href="@controllers.routes.ExamForm.exam(candidate.examid.getOrElse(0))" class="btn btn-success btn-mini">View exam</a></td>
      } else {
       
 

         <td>
        <a href="@controllers.routes.ExamForm.createForm(candidate.id)" class="btn btn btn-warning btn-mini">Create exam</a>
        }
    </tr> 
    }
       
      


  </table>

  <a href="@controllers.routes.CandidateForm.createForm" class="btn btn-primary btn-mini">Create candidate</a>
}