@(candidateForm: Form[models.CandidateFootprint])

@import views.html.helper.bootstrap._
@main {
    <div class="container">

      <h2>Add Candidate</h2>
      @helper.form(action = routes.CandidateForm.create) {
          
          @candidateForm.globalError.map { error =>
            <span class="error">@error.message</span>
            }
          
          
          @helper.inputText(candidateForm("firstname"), '_class -> "important", 'size -> 40)
          
          @helper.inputText(candidateForm("lastname"))
          
         
          <button type="submit" class="btn btn-primary">Create candidate</button>
         
      }

    </div>
  }
