@(exam: Exam,questions: Seq[Question],results : Seq[CResult])

@main {
 <table class="table table-striped list">
  
    <tr>
      <th>token</th>
      <th>notifier</th>
      <th>date</th>
      <th>note</th>
     <tr>

  <tr>
      
      <td><a href="@controllers.routes.Application.startFormToken(exam.token.getOrElse(""))">@exam.token.getOrElse("")</a></td>
      <td>@exam.notifier_1</td>
      <td>@exam.date</td>
      <td>@exam.note</td>
  </tr> 
 
 @for((question, result) <- questions.zip(results)) {
 <tr>
   <td>@question.description</td>
      <td>@result.resp</td>   
</tr> 
 
      
} 

  </table>
	<a href="@controllers.routes.CandidateForm.candidates" class="btn btn-primary btn-mini">Candidates list</a>

  <a href="@controllers.routes.ExamForm.delete(exam.id.getOrElse(-1))" class="btn btn-danger btn-mini">Delete exam</a>

}