@(exam: Exam,questions: Seq[Question],results : Seq[CResult])

@main {
 <table class="table table-striped list">
  
    <tr>
      <th>token</th>
      <th>notifier</th>
      <th>date</th>
      <th>note</th>
     <tr>

  <tr>
      
      <td><a href="@controllers.routes.Application.startFormToken(exam.token.getOrElse(""))">@exam.token.getOrElse("")</a></td>
      <td>@exam.notifier_1</td>
      <td>@exam.date</td>
      <td>@exam.note</td>
  </tr> 
  </table>

<table class="table table-striped list">
  
 @for((question, result) <- questions.zip(results)) {
 <tr>
     <code>@question.description</code>
     <code>@result.resp</code>
     <code>@result.note</code>
</tr> 

 
      
} 
</table>

 <div>
	<a href="@controllers.routes.CandidateForm.candidates" class="btn btn-primary btn-mini">Candidates list</a>
  <a href="@controllers.routes.Test.correctManual(exam.id.getOrElse(-1))" class="btn btn-success btn-mini">Edit Note</a>
  <a href="@controllers.routes.ExamForm.delete(exam.id.getOrElse(-1))" class="btn btn-danger btn-mini">Delete exam</a>
</div>
}