@(question: Question, listPart: Seq[Part], list: Seq[Answer])

@main {
  
<table>
  <dl>
   
    <dt>"description":</dt>
    <dd>@question.description</dd>
    @for(part <- listPart) {
        <dd>@part.part</dd>
    }
    <dt>"answer":</dt>
     
    @for((answer, index) <- list.zipWithIndex) {
   <li>
    <label class="checkbox inline" id="liext">
        <input type="checkbox" id="inlineCheckbox1" value="option1" class="form"> @answer.resp
    </label>
    </li>
    }
     
  </dl>
</table>
}
