
@(startForm: Form[models.StartFootprint])

@import views.html.helper.bootstrap._
@main {
    <div class="container">

      <h2>Start examan. Good luck</h2>
      @helper.form(action = routes.Application.start) {
          
          @startForm.globalError.map { error =>
            <span class="error">@error.message</span>
            }
          
          
          @helper.inputText(startForm("startid"))
          
          <div class="form-actions">
            <button type="submit" class="btn btn-primary">START</button>
          </div>
      }

    </div>
  }
